@font-face {
  font-family: "Circe";
  src: url("Circe/Circe - Regular/Circe-Regular.ttf");
  src: url('Circe/Circe - Regular/Circe-Regular.eot') format('embedded-opentype'),
  url('Circe/Circe - Regular/Circe-Regular.woff') format('woff'),
  url('Circe/Circe - Regular/Circe-Regular.ttf')  format('truetype'),
  url('Circe/Circe - Regular/Circe-Regular.svg') format('svg');
  font-weight: 400;
}

@font-face {
  font-family: "Circe";
  src: url("Circe/Circe - Bold/Circe-Bold.ttf");
  src: url('Circe/Circe - Bold/Circe-Bold.eot') format('embedded-opentype'),
  url('Circe/Circe - Bold/Circe-Bold.woff') format('woff'),
  url('Circe/Circe - Bold/Circe-Bold.ttf')  format('truetype'),
  url('Circe/Circe - Bold/Circe-Bold.svg') format('svg');
  font-weight: 700;
}

@font-face {
  font-family: "Circe";
  src: url("Circe/Circe - Light/Circe-Light.ttf");
  src: url('Circe/Circe - Light/Circe-Light.eot') format('embedded-opentype'),
  url('Circe/Circe - Light/Circe-Light.woff') format('woff'),
  url('Circe/Circe - Light/Circe-Light.ttf')  format('truetype'),
  url('Circe/Circe - Light/Circe-Light.svg') format('svg');
  font-weight: 300;
}

