.footer__soshial-logo {
  margin-right: 16px;
  width: 40px;
  height: 40px;
  color: white;
  opacity: 0.24;
}

.custom-header-menu__logo {
  width: 24px;
  height: 24px;
  margin-top: 2px;
  color: white;
  opacity: 0.56;
}

.footer__reed-mackay-logo {
  width: 192px;
  height: 32px;
  opacity: 0.24;
  margin-right: 0;
  margin-left: auto;
}

.tools-container__logo {
  margin-right: 12px;
  width: 24px;
  height: 24px;
  fill:black;
  opacity: 0.56;
}

.header__logo {
  width: 81px;
  height: 24px;
  margin-right: auto;
  @media (max-width: 940px) {
    width: 67px;
    height: 20px;
    margin-left: 1%;
    margin-top: -4px;
  }
}

.transfer-booking__tool-logo {
  margin-right: 12px;
  width: 24px;
  height: 24px;
}
