.transfer {
  display: flex;
  justify-content: space-between;
  &__left-side {
    display: block;
    flex: 1;
    margin-right:24px;

  }
  &__right-side {
    flex: 3.16;

    padding-top: 24px;
  }
  .transfer__popover {
    display: none;
  }
  .transfer__filter-sort-container {
    display: flex;
    justify-content: space-between;
  }
  .transfer__filter-count {
    display: block;
    margin-top: 37px;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.56);
  }
  .transfer__input {
    margin-bottom: 24px;
    position: relative;
    width: 392px;
  }
  .transfer__popover {
    height: 48px !important;
    display: none;
    align-items: center;
    height: inherit;
    padding: 15px 19px 15px 12px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 500px;
  }
  .transfer__filter-button-icon {
    width: 24px;
    height: 24px;
  }
  .transfer__filter-button-text {
    margin-top: 2px;
    margin-left: 12px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #002688;
  }

  @media (max-width: 1280px) {
    .transfer__left-side {
      display: none;
    }
    .transfer__right-side {
      width: 100%;
    }
    .transfer__popover {
      display: flex;
    }
    .transfer__input {
      width: 288px;
    }
  }
  @media (max-width: 940px) {
    .transfer__filter-button-text {
      display: none;
    }
    .transfer__popover {
      padding: 12px;
    }
    .transfer__input {
      width: 284px;
    }
  }
  @media (max-width: 639px) {
    .transfer__input {
      width: 160px;
    }
  }
}
