@import "fonts/index";

* {
  font-family: Circe;

}
ul {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1224px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1279px) {
  .wrapper {
    width: calc(100% - 48px);
    min-width: 0;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 320px) {
  .wrapper {
    width: calc(100% - 32px);
  }
}
li {
  list-style-type: none;
}

a {
  color: #002688;
}
